
:root{
 --cor00: #080d3b;
 --cor01: #0A167A;
 --cor02: #0E1EAD;
 --cor03: #142BFA;
 --cor04: #BCC1CC;
 --cor05: #E1E9FA;
 --cor06: #ffffff;
}

* {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10pt;
	
}

header {
	background-image: linear-gradient(to bottom, var(--cor00), var(--cor01));
	margin: -5px;
}

nav{
	background-color:var(--cor01);
	margin: -5px;
	padding: 2px;
	margin-bottom: 1px;
}

p {
	margin: 0%;
	color: var(--cor00);
}

h1.nome {
	text-align: center;
	font-size: 1.6em;
	padding: 0px;
	color: var(--cor05);
	margin: 0%;

	
}

body {
	background-color:var(--cor06);
	margin: 5px;
	
}

#foto_perfil {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: auto;
	margin-top: 15px;
}

div.foto_perfil {
	text-align: center;
}


#menu {
	list-style: none;
	padding: 0.3em;
	text-align: center;
	min-width: 280px ;
	max-width: 800px ;
	margin: auto;
	
}
#menu li {
 display: inline;
}

#menu li a {
	color: var(--cor05);
	text-decoration: none;
	padding: 0.3em;
}

#menu li a:hover{
	color: var(--cor05);
	box-shadow: 0px 3px 2px var(--cor05);
	text-decoration: none;
	transition: 1s;
}

main h2 {
 background-image: linear-gradient(to right, var(--cor05), var(--cor05), var(--cor06));
 color:var(--cor00);
}


main {
	background-color:var(--cor06);
	padding: 0.5em;
	box-shadow: 1px 1px 4px 1px rgb(197, 191, 191);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: auto;
	min-width: 280px ;
	max-width: 800px ;
	background-image: linear-gradient(to , var(--cor00), var(--cor01));
}

main > p {
	text-align: justify;
}

li {
 list-style-type: none;
 text-align: left;
}

footer {
	background-color:var(--cor05);
	padding: 0.5em;
	box-shadow: 5px 2px 10px rgb(10, 10, 10);
	border-radius:5pt;
	margin: auto;
	margin-top: 5px;
	min-width: 100px ;
	max-width: 800px ;
}

