@charset "UTF-8";

body {
	margin: 20px auto;
	display: grid;
	place-items: center;
	background: #eceaea;
	font: normal 10pt arial;
}

#ver {
	display: block;
	margin: 20px auto;
}

#titu {
 color: rgb(68, 28, 177);
 text-align: center;
 font-size: 20px;
}

section#modal{
	background: white;
	border-radius: 10px;
	padding: 1rem;
	width: 250px;
	margin: auto;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
	max-width: 400px;
	margin:  20px auto;
	font-size: 1rem;

}

#txtano{
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #f7f7f7;
}

#porte{
	background: #f7f7f7;
	width: 100%;
	border-radius: 10px;
}

div#msg {
 text-align: center;
 padding: 8px;
 background: rgb(168, 147, 147);
 text-decoration: solid;
}

div#foto {
	text-align: center;
	padding: 8px;
	
   }

#ver {
	padding: 0.5rem 1rem;
	background-color:#ffb801;
	display: block;
	border: none;
	font-family: sans-serif;
	color: #8f6c19;
	border-radius: 10px;
}

img#foto {
	border-radius: 25%;
}

#res{
	font-size: 11px;
}

footer {
	color: rgb(68, 28, 177);
	text-align: center;
	font-style: bold;
	width:100%;
	border-radius: 10px;

   }