@charset "UTF-8";

 *{
  font-family: Verdana, Geneva, Tahoma, sans-serif;	
  font-size: 12px;
 }
ul {
    margin: 0;
    padding:0;
}
li {
    list-style: none; 
    margin: 10px;
    display: inline;
}	
ul {
    margin: 0;
    padding:0;
}
li {
    list-style: none; 
    margin: 10px;
    display: inline;
}
li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid #f00; 
    background: #270b74;
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
li a:hover {
    background: #270b74;
    color: rgb(197, 189, 189); 
    border-color: #000;
}