@charset "UTF-8";

body {
	background: rgb(107, 107, 241);
	font: normal 15pt arial;
}

header {
 color: white;
 text-align: center;
 text-decoration: underline;
}

section{
	background: white;
	border-radius: 20px;
	padding: 15px;
	width: 500px;
	margin: auto;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 36);
}

footer {
 color: white;
 text-align: center;
 font-style: italic;
}