@charset "UTF-8";

*{
	background: #f7f7f7;
}


h1 {
  padding: 20px auto;
  text-align: center;
}

div {
	background: #dfdbe6;
	width: 200px;
	padding: 100px;
	display: block;
	margin: 20px auto;
	text-align: center;
	font: normal 10pt arial;
}
#calcular {
	
}